.h5p-bingo .h5p-bingo-board {
  display: flex;
  flex-direction: row;
  padding: 1%;
  line-height: 1.3em;
}

.h5p-bingo .h5p-bingo-column {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  min-width: 0;
}

.h5p-bingo .h5p-bingo-button {
  display: flex;
  justify-content: center;
  flex: 1;
  align-items: center;
  border: 0.1em solid white;
  border-radius: 0.5em;
  position: relative;
  text-align: center;
  background: white;
  transition: transform 0.8s;
  box-shadow: 0px 0px 1.5em 0.2em rgba(0,0,0,0.31);
  overflow: hidden;
  width: calc(90% - 0.2em);
  margin: 5% 0;
  white-space: nowrap;
}

.h5p-bingo .h5p-bingo-button:not(.h5p-button-blocked):hover {
  cursor: pointer;
  background-color: #efefef;
}

.h5p-bingo .h5p-bingo-button:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.h5p-bingo .h5p-bingo-button-label {
  opacity: 1;
  transition: opacity 0.1s ease 0.2s, display 0.1s ease 0.2s;
}

.h5p-bingo .h5p-bingo-button-image {
  opacity: 1;
  width: 100%;
  height: 100%;
  background: url('../images/starbadge.svg') center/100% no-repeat;
  transform: rotateY(180deg);
  position: absolute;
  transition: opacity 0.1s ease 0.2s, display 0.1s ease 0.2s;
}

.h5p-bingo .h5p-button-activated {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -ms-transform: scale(0,1.1);
}

.h5p-bingo .h5p-button-spinning {
  -webkit-transform: rotateY(-720deg);
  -moz-transform: rotateY(-720deg);
  transform: rotateY(-720deg);
  -ms-transform: scale(0,1.1);
}

.h5p-bingo .h5p-button-blocked {
}

.h5p-bingo .h5p-button-transparent {
  opacity: 0;
}
